@import "reset";


/* 向上箭头 */
.arr-t {
  display: block;
  width:72px;
  height:78px;
  position: absolute;
  bottom:60px;
  left: 50%;
  margin-left: -36px;
  -webkit-animation: bt-move .3s .5s  step-start  alternate infinite;
  z-index:100;
  opacity: 0;
}
@-webkit-keyframes bt-move {
  0% {background: url(../images/arr-t.png);}
  50% { background: url(../images/arr-d.png);}
  100%{ background: url(../images/arr-t.png);}
}
.page_1 ,.page_2,.page_3,.page_4,.page_5,.page_6{
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  >div{
  	z-index: 1;
  }
}
.page_1{
  background-image: url(../images/day.jpg);
  background-size: inherit;
  background-position: right bottom;
}
.page_2,.page_4,.page_6{
  background-image: url(../images/p2-bg.jpg);
}
.page_3{
  background-image: url(../images/p3-bg.jpg);
}
.page_5{
  background-image: url(../images/p5-bg.jpg);
}
// music
.mute{
  position: absolute;
  top:28px;
  left: auto;
  right: 0px;
  z-index:9;
  width:88px;
  height:88px;
  background-size: 100% auto;
}
.mute-con{
  position: absolute;
  top: 22px;
  left: 22px;
  z-index: 100;
  width:44px;
  height:44px;
  background: url(../images/music-bg.png) no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation: change 1s linear infinite;
}
.muted .mute-con{
  background: url(../images/music-close.png) no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation: inherit;
}
@-webkit-keyframes change {
  0% {
    -webkit-transform:rotate(0deg);
  }
  50% {
    -webkit-transform:rotate(180deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
  }
}
 // 公用模块
.logo{
	  position: absolute;
	  display: block;
	  width: 133px;
	  height:48px;
	  left:30px;
	  top:50px;
	  background-image: url(../images/LOGO.png); 
	  z-index:3;
}
.cloud-1{
		opacity: 0;
		position: absolute;
	  	display: block;
	  	z-index:1;
		width:242px;
		height:96px;
		left:36px;
		top:168px;
		background-image: url(../images/p1-6-1.png);
	}
.cloud-2{
	opacity: 0;
	position: absolute;
  	display: block;
  	z-index:1;
	width:133px;
	height:59px;
	left:550px;
	top:50px;
	background-image: url(../images/p1-6.png);
}
.swiper-slide{
	span,div{
		display: block;
		position: absolute;
		background-repeat: no-repeat;
	}
}
.contbox{
	width:569px;
	height: auto;
	// overflow: hidden;
	position: absolute;
	top:128px;
	left:92px;
	z-index: 2;
	-webkit-transform:translateY(-120%);
	transform:translateY(-120%);
	.tit{
		position:absolute;
		width:512px;
		height: auto;
		left:24px;
		top:0;
		background-image: url(../images/p-tit.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		&:after{
			position:absolute;
			content:"";
			display: block;
			width:349px;
			height: 30px;
			left: 88px;
			bottom:-26px;
			background-image: url(../images/p-tit-1.png);
		}
	}
	.text-box{
		width:569px;
		height: auto;
		position: absolute;
		left:0;
		top:118px;
		background: url(../images/p-cont-bg-t.png) no-repeat center top,url(../images/p-cont-bg-c1.png) no-repeat -1px 318px;
		// background-repeat: no-repeat, repeat-y;
		// background-origin: border-box,content-box;
		// box-sizing:border-box;
		// background-position: 0 0,center 338px;
		&:after{
			position: absolute;
			content:"";
			display: block;
			width:568px;
			height: 69px;
			bottom:-68px;
			left:0;
			background:url(../images/p-cont-bg-b.png) no-repeat left bottom;
		}
		span,div,a,p{
			opacity: 0;
		}
	}
}
.round-logo{
	opacity: 0;
	width:161px;
	height: 161px;
	left:-30px;
	bottom:-56px;
	background-image: url(../images/round-logo.png);
}
.jizhe{
	opacity: 0;
	width:248px;
	height: 245px;
	right:-64px;
	bottom:-95px;
	background: url(../images/jz.png) no-repeat right top;
	i{
		opacity: 0;
		position: absolute;
		display: block;
		width:100px;
		height: 100px;
		top:18px;
		left:48px;
		background: url(../images/jz-1.png) no-repeat left top;
	}
}
.circle1{
	opacity: 0;
	top:186px;
	right:118px;
	width:22px;
	height: 22px;
	box-sizing:border-box;
	border:6px solid #fff;
	border-radius:50%;
	z-index:2;
}
.circle2{
	opacity: 0;
	top:200px;
	right:56px;
	width:40px;
	height: 40px;
	border-radius:50%;
	box-sizing:border-box;
	border:8px solid #ec6941;
}
.plusign1{
	opacity: 0;
	top:137px;
	right:80px;
	width:27px;
	height: 9px;
	background-color: #fff45c;
	border-radius:4px;
	&:after{
		position: absolute;
		content:"";
		display: block;
		width:27px;
		height: 9px;
		left:0;
		top:0;
		border-radius:4px;
		background-color: #fff45c;
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
	}
}
.plusign2{
	opacity: 0;
	top:232px;
	right:25px;
	width:18px;
	height:6px;
	background-color: #fff45c;
	border-radius:3px;
	&:after{
		position: absolute;
		content:"";
		display: block;
		width:18px;
		height:6px;
		left:0;
		top:0;
		border-radius:3px;
		background-color: #fff45c;
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
	}
}
.plusign3{
	opacity: 0;
	top:280px;
	right:30px;
	width:23px;
	height: 7px;
	background-color: #fff;
	border-radius:3px;
	&:after{
		position: absolute;
		content:"";
		display: block;
		width:23px;
		height:7px;
		left:0;
		top:0;
		border-radius:3px;
		background-color: #fff;
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
	}
}

// page1
.page_1 {
	.slogan{
		left:56px;
		top:170px;
		width:622px;
		height: 350px;
		z-index:2;
		opacity: 0;
		span:first-child{
			width:622px;
			height: 250px;
			left:0;
			top:0;
			background-image: url(../images/p1-5-1.png);
			z-index:2;
		}
		span:last-child{
			width:527px;
			height: 131px;
			left:0;
			top:215px;
			background-image: url(../images/p1-5-2.png);
			z-index:2;
		}
	}
	.linkbox{
		width:328px;
		height: 185px;
		left:50%;
		top:525px;
		.hand{
			opacity: 0;
			width:59px;
			height: 73px;
			top:0;
			left:143px;
			background-image: url(../images/p1-2.png);
		}
		.yqhbtn{
			opacity: 0;
			width:338px;
			height: 120px;
			top:83px;
			left:0;
			background-image: url(../images/p1-4-1.png);
		}
	}
	.city{
		opacity: 0;
		width:519px;
		height: 406px;
		left:0;
		bottom:212px;
		// top:585px;
		background-image: url(../images/p1-3.png);
	}
	.road{
		width:750px;
		height: 510px;
		left:0;
		bottom:0;
		background-image: url(../images/p1-1.png);
		z-index:1;
	}
	.car{
		opacity: 0;
		width:421px;
		height: 348px;
		bottom:0;
		left:340px;
		background-image: url(../images/p1-4.png);
		z-index:1;
	}
}
// page2
.page_2{
	.contbox{
		height: 694px;
		.tit{
			height: 100px;
			span{
				width:433px;
				height: 68px;
				left:48px;
				top: 18px;
				background-image: url(../images/p2-1.png);
			}
		}
		.text-box{
			height:507px;
			span{
				width:497px;
				height: 346px;
				top:65px;
				left:34px;
				background-image: url(../images/p2-2.png);
			}
		}
		.jizhe{
			transform: rotate(-30deg);
			-webkit-transform: rotate(-30deg);
		}
	}
}
// page3
.page_3{
	.contbox{
		height: 725px;
		.tit{
			height: 100px;
			span{
				width:288px;
				height: 70px;
				left:120px;
				top: 16px;
				background-image: url(../images/p3-1.png);
			}
		}
		.text-box{
			height:541px;
			.map{
				width:443px;
				height: 287px;
				left:60px;
				top:74px;
				background-image: url(../images/p3-map.png);
			}
			.btn-map{
				position: absolute;
				display: block;
				width:197px;
				height: 74px;
				top:320px;
				left: 185px;
				background-image: url(../images/p3-btn.png);
				&:active{
					background-image: url(../images/p3-btn-1.png);
				}
			}
			.ads{
				width:383px;
				height: 95px;
				top:420px;
				left:95px;
				background-image: url(../images/p3-text.png);
			}
		}
		.jizhe{
			bottom:0;
			transform: rotate(-30deg);
			-webkit-transform: rotate(-30deg);
		}
	}
}
// page4
.page_4{
	.contbox{
		height:695px;
		.tit{
			height: 100px;
			span{
				width:428px;
				height: 53px;
				left:45px;
				top: 22px;
				background-image: url(../images/p4-1.png);
			}
		}
		.text-box{
			height:506px;
			.housebox{
			  position: absolute;
			  background-repeat: no-repeat;
			  width: 450px;
			  height:318px;
			  top:58px;
			  left:62px;
			  background-image: url(../images/p4-3.png);
			  background-position: center top;
			  z-index: 2;
			  .focusSwipe{
				  width:354px;
				  height: 235px;
				  text-align: center;
				  left:0px;
				  top:40px;
				  position: relative;
				  div{
				  	display: flex!important;
				  }
				  .swiper-wrapper{
				  	position: relative;
				  }
				  .swiper-slide{
				  	  position: relative;
					  img{
					  	display: block;
					  	margin:0 auto;
					  }
					}
				}
				.swiper-button-next,.swiper-button-prev{
					width:51px;
					height: 50px;
					background-size: 100% 100%;
				}
				.swiper-button-next{
					right: 0;
					background-image: url(../images/p4-2-1.png); 
				}
				.swiper-button-prev{
					left: 0;
					background-image: url(../images/p4-2.png); 
				}
			}
			.adrs{
					width:219px;
					height: 115px;
					top:390px;
					left:170px;
					background-image: url(../images/p4-text.png); 
				}
		}
		.jizhe{
			bottom:0;
			transform: rotate(-30deg);
			-webkit-transform: rotate(-30deg);
		}
	}
}
// page5
.page_5{
	.contbox{
		height: 954px;
		.tit{
			height: 123px;
			span{
				width:343px;
				height:83px;
				left:86px;
				top: 14px;
				background-image: url(../images/p5-1.png);
			}
		}
		.text-box{
			height:756px;
			top:145px;
			span{
				&:nth-of-type(1){
					width:453px;
					height: 227px;
					top:17px;
					left:54px;
					background-image: url(../images/p5-4-1.png);
				}
				&:nth-of-type(2){
					width:404px;
					height: 235px;
					top:257px;
					left:78px;
					background-image: url(../images/p5-4-2.png);
				}
				&:nth-of-type(3){
					width:468px;
					height: 225px;
					top:497px;
					left:54px;
					background-image: url(../images/p5-4-3.png);
				}
			}
		}
		.jizhe{
			bottom:-115px;
			transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
		}
	}
}
// page6
.page_6{
	.contbox{
		height: 913px;
		.tit{
			height: 123px;
			span{
				width:390px;
				height:84px;
				left:60px;
				top:20px;
				background-image: url(../images/p6-1.png);
			}
		}
		.text-box{
			height:710px;
			top:145px;
			span{
				display: block;
				position: absolute;
				width:355px;
				height:33px;
				top:80px;
				left:112px;
				// margin:80px auto 0;
				background-image: url(../images/p6-5.png);
				opacity: 0;
				z-index:3;
			}
			a{
				display: block;
				position: absolute;
				width:197px;
				height: 74px;
				// margin: 0 auto;
				left:188px;
				z-index:3;
				&:nth-of-type(1){
					margin-top:164px;
					background-image: url(../images/p6-2.png);
					&:active{
						background-image: url(../images/p6-2-1.png);
					}
				}
				&:nth-of-type(2){
					margin-top:260px;
					background-image: url(../images/p6-3.png);
					&:active{
						background-image: url(../images/p6-3-1.png);
					}
				}
			}
			p{
			  width:750px;
			  height:778px;
			  margin:0px 0 0 -91px;
			}
			.ewm{
				width:296px;
				height: 332px;
				position: absolute;
				left:142px;
				top:378px;
				margin:auto;
			}
		}
		.jizhe{
			bottom:0;
			transform: rotate(-30deg);
			-webkit-transform: rotate(-30deg);
		}
	}
}
// share
.black-bg{
  display:none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(0, 0, 0,.8);
  z-index: 10;
  .sharebox{
  	position: absolute;
  	width:569px;
  	height: 437px;
  	top:333px;
  	left:50%;
  	margin-left: -285px;
  	background-image: url(../images/p-cont-bg-t.png),url(../images/p-cont-bg-c.png);
	background-repeat: no-repeat, repeat-y;
	background-origin: border-box,content-box;
	box-sizing:border-box;
	span{
		width:256px;
		height: 154px;
		position:absolute;
		top:145px;
		left:152px;
		background:url(../images/share-text.png) no-repeat left top;
	}
	&:after{
		position: absolute;
		content:"";
		display: block;
		width:568px;
		height: 69px;
		bottom:-68px;
		left:0;
		background:url(../images/p-cont-bg-b.png) no-repeat left bottom;
	}
  }
  .arr-top{
  	position:absolute;
  	display: block;
  	width:255px;
  	height: 305px;
  	top:90px;
  	right:90px;
  	background:url(../images/share-arr.png) no-repeat left top;
  }
}

// 动画部分
.swiper-slide-active .contbox{
	-webkit-animation:Bounce .6s .3s linear  forwards;
	animation:Bounce .6s .3s  linear  forwards;
}
.swiper-slide-active .round-logo{
	-webkit-animation:show .3s 1.3s linear  forwards,round 2.5s 1.5s linear  infinite forwards;
	animation:show .3s 1.3s linear  forwards,round 2.5s 1.5s linear  infinite forwards;
}
.swiper-slide-active .jizhe{
	-webkit-animation:scale .7s .3s linear  forwards;
	animation:scale .7s .3s linear  forwards;
}
.swiper-slide-active .jizhe i{
	-webkit-animation:flash .5s 1.2s linear 3 forwards;
	animation:flash .5s 1.2s linear 3 forwards;
}
.swiper-slide-active .circle1{
	-webkit-animation:flash .8s 2.1s linear  forwards;
	animation:flash .8s 2.1s linear  forwards;
}
.swiper-slide-active .circle2{
	-webkit-animation:scale-r .8s 2.2s linear  forwards;
	animation:scale-r .8s 2.2s linear  forwards;
}
.swiper-slide-active .plusign1{
	-webkit-animation:flash 1s 2.6s linear  forwards;
	animation:flash 1s 2.6s linear  forwards;
}
.swiper-slide-active .plusign2{
	-webkit-animation:flash .8s 3.4s linear  forwards;
	animation:flash .8s 3.4s linear  forwards;
}
.swiper-slide-active .plusign3{
	-webkit-animation:flash .8s 3s linear  forwards;
	animation:flash .8s 3s linear  forwards;
}


.swiper-slide-active.page_2 .contbox .text-box span,
.swiper-slide-active.page_3 .contbox .text-box span,
.swiper-slide-active.page_4 .contbox .text-box div,
.swiper-slide-active.page_4 .contbox .text-box span,
.swiper-slide-active.page_5 .contbox .text-box span:nth-of-type(1),
.swiper-slide-active.page_6 .contbox .text-box span,
.swiper-slide-active.page_6 .contbox .text-box p,
.swiper-slide-active.page_6 .contbox .text-box .gotoindex{
	-webkit-animation:show .6s 1.1s linear  forwards;
	animation:show .6s 1.1s linear  forwards;
}
.swiper-slide-active.page_5 .contbox .text-box span:nth-of-type(2){
	-webkit-animation:show 1s 1.4s linear  forwards;
	animation:show 1s 1.4s linear  forwards;
}
.swiper-slide-active.page_5 .contbox .text-box span:nth-of-type(3){
	-webkit-animation:show 1s 1.7s linear  forwards;
	animation:show 1s 1.7s linear  forwards;
}
.swiper-slide-active.page_3 .contbox .text-box a,
.swiper-slide-active.page_6 .contbox .text-box .btn-b{
	-webkit-animation:show .6s 1.1s linear  forwards,Tada 1s ease 1.5s forwards;
	animation:show .6s 1.1s linear  forwards,Tada 1s ease 1.5s forwards;
}

.swiper-slide-active .car{
	-webkit-animation:carmove .8s .7s linear  forwards;
	animation:carmove .8s .7s linear  forwards;
}
.swiper-slide-active .city{
	-webkit-animation:show .8s .7s linear  forwards,cityflash .3s 3s linear  forwards;
	animation:show .8s .7s linear  forwards,cityflash .3s 3s linear  forwards;
}
.swiper-slide-active .slogan{
	-webkit-animation:sloganBounce .6s 1.5s ease-out  forwards;
	animation:sloganBounce .6s 1.5s  ease-out  forwards;
}
.swiper-slide-active .cloud-1,.swiper-slide-active .cloud-2{
	-webkit-animation:show 1.2s 1.9s linear  forwards;
	animation:show 1.2s 1.9s linear  forwards;
}
.swiper-slide-active .hand{
	-webkit-animation:handflash .8s 2.5s ease-in alternate infinite forwards;
	animation:handflash .8s 2.5s ease-in alternate infinite forwards;
}
.swiper-slide-active .yqhbtn{
	-webkit-animation:yqhflash .8s 2.5s ease-in infinite forwards;
	animation:yqhflash .8s 2.5s ease-in infinite forwards;
}
.jump{
	-webkit-animation:jump 1s .5s linear 3 forwards;
	animation:jump 1s .5s linear 3 forwards;
}
.page_1 {
	-webkit-animation:cloudmove 28s linear alternate infinite;
}

@-webkit-keyframes Bounce {
	0%{
		-webkit-transform:translateY(-100%);
	}
	20% {
		-webkit-transform:translateY(0);
	}
	40% {
		-webkit-transform:translateY(15px);
	}
	60% {
		-webkit-transform:translateY(-15px);
	}
	80%{
		-webkit-transform:translateY(15px);
	}
	100%{
		-webkit-transform:translateY(0);
	}
}
@-webkit-keyframes show{
  0%{
  	opacity:0
  }
  100%{
  	opacity:1;
  }
}
@-webkit-keyframes round{
  0%{
  	-webkit-transform:rotate(0deg)
  }
  100%{
  	-webkit-transform:rotate(360deg)
  }
}
@-webkit-keyframes scale{
  0%{
  	bottom:390px;
  	z-index:-1;
  	right:-150px;
  	-webkit-transform:scale(.2);
  	opacity:0.5;
  }
  50%{
  	bottom:150px;
  	z-index:1;
  	right:-190px;
  	-webkit-transform:scale(.5);
  }
  100%{
  	opacity: 1;
  	-webkit-transform:scale(1)
  }
}
@-webkit-keyframes scale-r{
  0%{
  	opacity: 0;
  	-webkit-transform:scale(1);
  }
  90%{
  	opacity: 1;
  	-webkit-transform:scale(1.3)
  }
  100%{
  	opacity:0;
  }
}
@-webkit-keyframes flash {
	0%, 50%{
		opacity:1;
	}
	25%, 75% {
		opacity:0;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes Tada {
	0% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}
	10%, 20% {
		-webkit-transform:scale(0.9) rotate(-3deg);
		transform:scale(0.9) rotate(-3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform:scale(1.1) rotate(3deg);
		transform:scale(1.1) rotate(3deg);
	}
	40%, 60%, 80% {
		-webkit-transform:scale(1.1) rotate(-3deg);
		transform:scale(1.1) rotate(-3deg);
	}
	100% {
		-webkit-transform:scale(1) rotate(0);
		transform:scale(1) rotate(0);
	}
}
@-webkit-keyframes carmove {
	0%{
		-webkit-transform:scale(.2) ;
		bottom:235px;
		left:588px;
		opacity: 1;
	}
	40%{
		bottom: 187px;
    	-webkit-transform: scale(.3) ;
    	left: 420px;
	}
	70%{
		bottom: 18px;
	    -webkit-transform: scale(.55);
	    left: 460px;
	}
	100%{
		bottom: 0;
    	left: 320px;
    	-webkit-transform: scale(1) ;
    	opacity: 1;
	}
}
@-webkit-keyframes cityflash {
	0%, 100%{
		opacity:1;
	}
	50% {
		opacity:0.3;
	}
}
@-webkit-keyframes sloganBounce {
	0%{
		-webkit-transform:translateY(-100%);
		opacity: 1;
	}
	15% {
		-webkit-transform:translateY(0);
	}
	25% ,75%{
		-webkit-transform:translateY(15px);
	}
	50% {
		-webkit-transform:translateY(-15px);
	}
	100%{
		-webkit-transform:translateY(0);
		opacity: 1;
	}
}
@-webkit-keyframes handflash {
	0%{
		opacity:1;
		top:0
	}
	50% {
		opacity:1;
		top:5px;
	}
	100%{
		opacity:1;
		top:0;
	}
	
}
@-webkit-keyframes yqhflash {
	0%{
		opacity:1;
		background-image: url(../images/p1-4-1.png);
		transform: translate(0);

	}
	50% {
		background-image: url(../images/p1-4-2.png);
		transform: translate(-1px,-1px);
	}
	100%{
		opacity:1;
		background-image: url(../images/p1-4-1.png);
		transform: translate(0);
	}
	
}
@-webkit-keyframes jump {
	0%,100%{
		top:90px;
		right:90px;
		opacity: 1;
	}
	50% {
		top:65px;
		right:65px;
		opacity:.8;
	}
}
@-webkit-keyframes cloudmove{
  0%{background-position:right top;}
  100%{background-position:0 top;}
}